connection:
    server: irc.freenode.net
    port: 6667
    channels: [ '#eeevve' ]
    nick: Eeevve

modules:
    - 'Marmotz\Eeevve\Module\MongoLog\MongoLog'

configuration:
    logger:
        file: /var/log/bot/%Y%m%d.log
    commands:
        owner: marmotz
    mongolog:
        server: mongodb://1.2.3.4
        base: irclog
